.card{
   
  border-radius: 5px;
    margin: 5px;
    width: 200px;
    padding:10px 16px ;
    border: 1px solid #ABAAAA;
}
.card img{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    border: 1px solid #ABAAAA;
}
.card h3{
    text-align: center;
    font-size: 30px;
}
.top-authors{
  display: flex;
}